.loader{
    margin: 10% 45%;
    padding-bottom: 30%;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.content{
 
    width:27%;
    height: auto;
    margin: 1.5em 0em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    position: relative;

}

.content > img{
    width:100%;
    height: 45%;
}


.content:hover {
    -webkit-box-shadow: 0px 0px 30px 2px rgba(139,130,143,1);
    -moz-box-shadow: 0px 0px 30px 2px rgba(139,130,143,1);
    box-shadow: 0px 0px 30px 2px rgba(139,130,143,1);
  }

  .content button {
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border: none;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    position: absolute;
    bottom:0;
    left:0;

  }
   .source{
       padding: 0 10px;
       text-align: left;
   }
  .publishDate > span{
      
      float: right;
  }
  .article{
      clear: both;
  }